<a href="https://colab.research.google.com/github/bhatia2108/Python_PCEP/blob/main/Day1_ML_journey.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world")

hello world

In [2]:
print("String Operations")

String Operations

In [3]:
s ="Bangalore"

In [21]:
#slicing
s1 = s[-1::]
print(s1)

e

In [23]:
s2= "Hello, World!"
print(s2[-5:2:-2])

o o

In [27]:
s3 = "Bangalore"
print(s3[0:-1:-2])
print(s3[1:-4:-1])

In [34]:
# input function
a=bool(input("Enter a value: "))
print(a)
print(type(a))

Enter a value: -1
True
<class 'bool'>

In [37]:
s=input("Enter a string")
if s==s[::-1]:
  print("String is palindrome")
else:
  print("String is not a palindrome")

Enter a stringHello
String is not a palindrome

In [41]:
num = int(input("Enter a number: "))
i=1
while i<=10:
  # print(f"{num} X {i} = {num*i}")
  print(num, "x", i, "=", i*num)
  i+=1

Enter a number: 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [3]:
# String Deletion

s1="NTT"
print(s1)
del s1

NTT